/* base */

@import url('./reset.css');

@import url('./base/base.css');
@import url('../icons/icons.css');

/* components  */
@import url('./components/botao.css');

/* layouts  */

@import url('./layout/containers.css');
@import url('./layout/cabecalho.css');
@import url('./layout/forms.css');
@import url('./layout/rodape.css');

/* pages */

@import url('./pages/startupme.css');

/* 
xsmall: 420px
medium: 768px
large: 960px
*/
