header {
  background-color: rgb(119,119,119);
  background-image: url(../../images/bg-header.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  color: rgb(255,255,255)
}

header .logo {
  width: 100px;
}

.menu li {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 30px;
  
}

.menu a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

header button {
  margin-top: 30px;
  margin-bottom: 80px;
  padding-left: 30px;
  padding-right: 30px;
  
}
