header {
  background-color: rgb(119,119,119);
  background-image: url(../../images/bg-header.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  color: rgb(255,255,255);

  @media screen and (min-width: 750px) {
    
  }
}

.cabecalho {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 750px){
  .cabecalho {
    flex-direction: row;
  }
}

nav li {
  display: inline-block;
  padding: 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

header button {
  margin-top: 30px;
  margin-bottom: 80px;
  padding-left: 30px;
  padding-right: 30px;
}


