input[type="text"],
select,
textarea {
  width: 100%;
  display: block;
  border-radius: 1px;
  border: none;
  margin-bottom: 22px;
  margin-top: 5px;
  padding: 7px;
}
form {
  text-align: left;
}

form p {
  color: rgb(255,255,255);
}

label {
  color: rgb(255,255,255);
  margin-bottom: 10px;
}

footer button {
  padding: 10px 30px;
  margin-bottom: 35px;
  margin-left: 200px;
  
}
