.rodape {
  background-image: url(../../images/bg-footer.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  padding-bottom: 40px;
}

.contato {
  text-align: center;
  margin: 30px;
}

.rodape {
  text-align: center;
}

.rodape p small {
  text-align: left;
  color:rgb(255,255,255);
}

.rodape .container-flex {
  flex-direction: column;
  margin-top: 40px;


}

.rodape .flex-item {
  flex: 1;
  margin-right: 20px;
}

.rodape .flex-item + .flex-item {

}

@media screen and (min-width: 700px) {
  .rodape .container-flex {
    flex-direction: row;
  }
}

iframe {
  margin-top: 20px;
}

address {
  text-align: center;
}

@media screen and (min-width: 700px) {
  address {
    text-align: left;
    margin-left: 20px;
  }
}

address p {
  margin-bottom: 5px;
  color: rgb(255,255,255);
}

address span {
  color: rgb(254,209,54);
}
footer .logo {
  max-width:100px;
  max-height:50px;
  width: auto;
  height: auto;
}

.icon-facebook2 {
  color: rgb(254,209,54);
}

.icon-twitter,
.icon-github,
.icon-linkedin2 {
  color: rgb(119,119,119);
}

.icon-facebook2,
.icon-twitter,
.icon-github,
.icon-linkedin2 {
  display: inline-block;
}
