.rodape {
  background-image: url(../../images/bg-footer.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  
}

.contato {
  text-align: center;
  margin-bottom: 30px;
}

form p {
  margin-bottom: 60px;
  
}

iframe {
  width: 300px; 
}



