body {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  color: rgb(255,255,255);
  text-transform: uppercase;
  font-size: 25px;

}

h2 {

  color:rgb(254,209,54);
  text-transform: uppercase;
  margin-bottom: 20px;
  font-size: 14px;
}
  
h3 {

  font-size: large;
  margin-bottom: 20px;
  font-size: 16px;
  margin-top: 20px;
}

.titulo {

  font-size: medium;
  font-family: 'open sans bold';
  text-transform: none;
  margin-bottom: 10px;
  display: inline-block;
}

p {
  font-size: small;
  
}
