@font-face {
  font-family: "OpenSans-Regular";
  
  src: url("../../fonts/regular/OpenSans-Regular.woff") format("woff"), /* Modern Browsers */
  url("../../fonts/regular/OpenSans-Regular.woff2") format("woff2"), /* Modern Browsers */
  url("../../fonts/regular/OpenSans-Regular.ttf") format("truetype"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans-Bold";

  src: url("../../fonts/bold/OpenSans-Bold.woff") format("woff"), /* Modern Browsers */
       url("../../fonts/bold/OpenSans-Bold.woff2") format("woff2"), /* Modern Browsers */
       url("../../fonts/bold/OpenSans-Bold.ttf") format("truetype"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans-SemiBold";

  src: url("../../fonts/semiBold/OpenSans-SemiBold.woff") format("woff"), /* Modern Browsers */
       url("../../fonts/semiBold/OpenSans-SemiBold.woff2") format("woff2"), /* Modern Browsers */
       url("../../fonts/semiBold/OpenSans-SemiBold.ttf") format("truetype"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans-ExtraBold";

  src: url("../../fonts/extraBold/OpenSans-ExtraBold.woff") format("woff"), /* Modern Browsers */
        url("../../fonts/extraBold/OpenSans-ExtraBold.woff2") format("woff2"), /* Modern Browsers */
        url("../../fonts/extraBold/OpenSans-ExtraBold.ttf") format("truetype"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
