.funcionarios,
.smartphones {
  background-color: rgb(245,245,245);
}

/* .smartphones {
  background-color: rgb(245,245,245);
}
.teste {
  background-color: rgb(245,245,245);
} */


.aplicativos figure {
  display: inline-block;
  width: 35%;
  padding-bottom: 20px;
}

@media screen and (min-width: 750px) {
  .aplicativos figure {
    padding-left: 10px;
    width: 14%;
  }
} 

.produto p {
  margin-bottom: 20px;
}

.produto button {
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 40px;
}

/*Estilizando Div Funcionários */

.funcionarios figure {
  display: inline-block;
  padding-bottom: 20px;
  padding-right: 10px;
}

.funcionarios p {
  margin-top: 20px;
  margin-bottom: 50px;
}

.funcionarios img {
  border-radius: 150px;
  width: 150px;
  height: 150px;
  border: 10px solid rgb(255,255,255);
}

@media screen and (min-width: 500px) {
  .funcionarios figure {
    padding-left: 10px;
    width: 42%;
  }
}

@media screen and (min-width: 850px) {
  .funcionarios figure {
    padding-left: 10px;
    width: 22%;
  }
}


.recursos {
  display: flex;
  flex-direction: column;

}
@media screen and (min-width: 750px) {
  .recursos{
  flex-direction: row;
  }
} 


.recursos-nativos-img {
  flex: 1 1 50%;
 
}

.recursos-nativos-img img {
  width: 50%;
}

.recursos-nativos-texto {
  flex: 1 1 50%;
  text-align: left;

}

.smartphones .container-flex {
  flex-direction: column;
}

@media screen and (min-width: 750px) {
  .smartphones .container-flex{
  flex-direction: row;
  }
} 
.smartphones-imagem {
  
}

.smartphones-texto {
  align-self: center;
}

.sistema-operacional img {
  width: 17%;
  display: inline-block;
  padding: 10px;
}
