.funcionarios,
.smartphones {
  background-color: rgb(245,245,245);
}

section {
  text-align: center;
}

.aplicativos figure {
  display: inline-block;
  width: 35%;
  padding-bottom: 20px;
}

@media screen and (min-width: 750px) {
  .aplicativos figure {
    padding-left: 10px;
    width: 14%;
  }
} 

.produto p {
  margin: 20px;
}

.produto button {
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 40px;
}

/*Estilizando Div Funcionários */

.funcionarios figure {
  display: inline-block;
  padding-bottom: 20px;
  padding-right: 10px;
}

.funcionarios p {
  margin-top: 20px;
  margin-bottom: 50px;
}

.funcionarios img {
  border-radius: 150px;
  width: 150px;
  height: 150px;
  border: 10px solid rgb(255,255,255);
  transition: width 2s, height 2s, transform 2s;
}
.funcionarios img:hover {
  transform: rotate(360deg);
  border: 10px solid rgb(254,209,54);
}
@media screen and (min-width: 500px) {
  .funcionarios figure {
    padding-left: 10px;
    width: 42%;
  }
}

@media screen and (min-width: 850px) {
  .funcionarios figure {
    padding-left: 10px;
    width: 22%;
  }
}

.container-flex {
  flex-direction: column;
}

.flex-texto {
  flex: 1 0 14%;
  text-align: left;
  padding-top: 80px;
}

.flex-img {
  flex: 1;
  padding-top: 40px
}


.flex-img img {
  width: 300px;;
}

@media screen and (min-width: 750px) {
  .container-flex {
    flex-direction: row;
  }
} 

.smartphones .container-flex {
  flex-direction: column-reverse;
}

@media screen and (min-width: 750px) {
  .smartphones .container-flex {
    flex-direction: row-reverse;
  }
} 

.sistema-operacional {
  text-align: center;
}

.sistema-operacional img {
  width: 10%;
  display: inline-block;
  padding: 10px;
}
